In [10]:
import pandas as pd
from scipy.stats import pearsonr
from numpy.linalg import norm
import numpy as np

In [2]:
def get_review_length(review):
    return len(review)

In [3]:
def calculate_pearson_correlation(annotations, length):    
    corr, _ = pearsonr(annotations, length)
    return corr

In [4]:
def calculate_cosine_similarity(annotations, length):
    cosine = np.dot(annotations, length) / (norm(annotations) * norm(length))
    return cosine

In [12]:
def print_correlation_values(annotations, length):
    pearson_correlation = calculate_pearson_correlation(annotations, length)
    print("Pearson Correlation: ", pearson_correlation)

    cosine_similarity = calculate_cosine_similarity(annotations, length)
    print("Cosine similarity: ", cosine_similarity)

In [5]:
reviews = pd.read_csv("data/derived/restaurant_reviews_textblob.csv", sep="\t")

Calculating similarities between the actual labels and review length

In [13]:
print_correlation_values(reviews['Liked'], reviews['Length'])

Pearson Correlation:  -0.07528475029141281
Cosine similarity:  0.5925422336203817

Calculating similarities between Textblob classified categories and review length

In [6]:
reviews['Length'] = reviews.apply(lambda row: get_review_length(row['Review']), axis=1)
reviews.head()

                                              Review  Liked  Category  Length
0                           Wow... Loved this place.      1         1      24
1                                 Crust is not good.      0         1      18
2          Not tasty and the texture was just nasty.      0         1      41
3  Stopped by during the late May bank holiday of...      1         0      87
4  The selection on the menu was great and so wer...      1         1      59

In [14]:
print_correlation_values(reviews['Category'], reviews['Length'])

Pearson Correlation:  0.021483617077331197
Cosine similarity:  0.6966413771021479

Calculating similarities between Sentistrength classified categories and review length

In [16]:
reviews = pd.read_csv("data/derived/restaurant_reviews_sentistrength.csv", sep="\t")
reviews['Length'] = reviews.apply(lambda row: get_review_length(row['Review']), axis=1)
reviews.head()

                                              Review  Liked  Category  Length
0                           Wow... Loved this place.      1         1      24
1                                 Crust is not good.      0         1      18
2          Not tasty and the texture was just nasty.      0         0      41
3  Stopped by during the late May bank holiday of...      1         1      87
4  The selection on the menu was great and so wer...      1         1      59

In [17]:
print_correlation_values(reviews['Category'], reviews['Length'])

Pearson Correlation:  -0.017334475687109878
Cosine similarity:  0.7779151883584928